<!DOCTYPE html>
<html>
  <head>
    <title>作業練習：元件變換</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>    <script src="/javascripts/vendor.js"></script>

  </head>
  
  <body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/basic/dev.html">基礎教學</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/template/basic.html">模板指令</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/basic.html">組件</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/vue_set.html">常用 API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/es6/let_const.html">ES6</a>
      </li>
      
    </ul>
  </div>
</nav>
    <div class="container my-5">
      <div class="row">
        
          <div class="col-md-3">
            
<div>
  <h6 class="text-capitalize text-muted">components</h6>
  
    
      <a href="/components/basic.html"  class="btn btn-block btn-link">
        基礎元件
      </a>
    
  
    
      <a href="/components/function_return.html"  class="btn btn-block btn-link">
        元件必須使用 function return
      </a>
    
  
    
      <a href="/components/prop_basic.html"  class="btn btn-block btn-link">
        由外到內的資料傳遞
      </a>
    
  
    
      <a href="/components/prop_adv.html"  class="btn btn-block btn-link">
        Props 注意事項
      </a>
    
  
    
      <a href="/components/prop_type.html"  class="btn btn-block btn-link">
        Props 的型別
      </a>
    
  
    
      <a href="/components/emit.html"  class="btn btn-block btn-link">
        向外層傳送事件(Data)
      </a>
    
  
    
      <a href="/components/slot.html"  class="btn btn-block btn-link">
        Slot 插槽替換
      </a>
    
  
    
      <a href="/components/is.html"  class="btn btn-block btn-link">
        動態組建切換
      </a>
    
  
    
      <a href="/components/eventbus.html"  class="btn btn-block btn-link">
        Event Bus
      </a>
    
  
    
      <a href="/components/homework_component.html"  class="btn btn-block btn-primary active">
        作業練習：元件變換
      </a>
    
  
</div>
          </div>
        
        <div class="col-md-9 post">      
          <!-- 練習開始 -->
          <h1 class="mt-0 text-muted">作業練習：元件變換</h1>
          
<h3>模板練習作業：Ajax 資料內容呈現</h3>
<p>本作業一定要用到元件。</p>
<div class="alert alert-secondary">
  <p>提示：</p>
  <ol class="mb-0">
    <li>將資料內容透過 "元件" 呈現</li>
    <li>製作城市過濾選項</li>
    <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
    <li>依據不同污染呈現不同色彩</li>
    <li>加分題：透過 localStorage 儲存上次關注的城市</li>
  </ol>
</div>

<div id="app">
  <select name="" id="" class="form-control mb-3" v-model="filter">
    <option value="">--- 請選擇城市 ---</option>
    <option :value="item" v-for="item in location">{{item}}</option>
  </select>
  <div>
    <h4>關注城市</h4>
    <div class="card-columns">
      <select-list class="card" v-for="(item,key) in staredData" :selectinfo="item" @switchcard="starPin" :key="key">
        <template slot="icon">
          <i class="fas fa-star"></i>
        </template>
      </select-list>
    </div>
  </div>
  
  <hr>

  <div class="card-columns">
    <select-list class="card" v-for="(item,key) in filterData" :selectinfo="item" @switchcard="starPin" :key="key"></select-list>
  </div>
</div>

<script type="text/x-template" id="selectList">
  <div class="card" :class="statusCheck">
    <div class="card-header">{{ selectinfo.County }} - {{selectinfo.SitnName}} 
      <a href="#" class="float-right" @click.prevent="setFocus">
      <slot name="icon">
        <i class="far fa-star"></i>
      </slot>
      </a>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li>AQI 指數: {{selectinfo.AQI}}</li>
        <li>PM2.5: {{selectinfo['PM2.5']}}</li>
        <li>說明: {{selectinfo.Status}}</li>
      </ul>
    {{selectinfo.PublishTime}}
    </div>
  </div>

</script>


<script>
// API 來源
// https://opendata.epa.gov.tw/Data/Contents/AQI/
Vue.component('select-list',{
  props:['selectinfo'],         
  template: '#selectList',
  methods: {
    setFocus(){
      this.$emit('switchcard', this.selectinfo);  //從x-template當中，@click觸發setFocus，進而觸發'switchcard' starPin，並把本元件的資料傳到stared
    },
  },
  computed: {
    statusCheck: function() {
      if (this.selectinfo.Status == '普通') {
        return 'status-aqi2';
      } else if (this.selectinfo.Status == '對敏感族群不健康') {
        return 'status-aqi3';
      } else if (this.selectinfo.Status == '對所有族群不健康') {
        return 'status-aqi4';
      } else if (this.selectinfo.Status == '非常不健康') {
        return 'status-aqi5';
      } else if (this.selectinfo.Status == '危害') {
        return 'status-aqi6';
      }
    }
  }
})


var app = new Vue({
  el: '#app',
  data: {
    data: [],
    location: [],
    stared: [],
    filter: '',
    county: [],
  },
  // 請在此撰寫 JavaScript
  methods: {
    getData() {
      const vm = this;
      const api = 'https://script.google.com/macros/s/AKfycbzl6KKgb4v2-F3SCVxVaXjnMwM_XQvnk2A08nw7NjmGfuRVmak0/exec?url=http://opendata2.epa.gov.tw/AQI.json';

      // 使用 jQuery ajax
      $.get(api).then((response) => {
        vm.data = response;//response 是從json中取得的資料   
        
        // console.log(response);

        vm.data.forEach((item) => { 
          // console.log(item)
          vm.county.push(item.County);//把data每一筆資料中的'County'推入vm.county[]
          vm.location = vm.county.filter((item, index, array)=>{
            return array.indexOf(item) === index;//把vm.county中裡面的縣市，利用filter 和 indexOf，把重複縣市的名字篩選掉，只取第一次出現的
          })
        });
      });
    },

    starPin(city){
      let vm = this;
      let index = vm.stared.findIndex(function(item){
        return city.SiteName == item; //在stared的每筆資料，回傳資料為城市的名字
      });
      if (vm.stared.indexOf(city.SiteName) == -1){
        this.stared.push(city.SiteName);  //假設在stared中的資料索引為-1，則把資料推入stared
      }else {
        vm.stared.splice(index, 1);//反之則把資料刪除
      }
      console.log(index);
    }
    
  },
  computed:{
    filterData(){ 
      var vm = this;
      if(vm.filter == ''){ //假設vm.filter為空值
        return vm.data.filter(item => { 
          return vm.stared.indexOf(item.SiteName) === -1; //每筆資料中的SiteName如果不存在(-1) vm.stared 中就回傳
        });
      } else {//反之，則回傳物件的County(縣市名) 會等於vm.filter
        return vm.data.filter(item => {
          return item.County == vm.filter;
        })
      }
    },
    
    staredData(){ //
      let vm = this;
      return vm.data.filter(function(todo,index,array){
        // 每筆資料中的 SiteName 如果有在 vm.stared 中就回傳
        return vm.stared.indexOf(todo.SiteName) > -1;
      })
    }
  },
  mounted(){
    this.getData() //取得api資料
  }
});
</script>

<!-- 
狀態對應表
'良好',
'status-aqi2' '普通',
'status-aqi3' '對敏感族群不健康',
'status-aqi4' '對所有族群不健康',
'status-aqi5' '非常不健康',
'status-aqi6' '危害'
--> 
<style>
.status-aqi2 {
  background-color: #ffff00;
}
.status-aqi3 {
  background-color: #ff7e00;
}
.status-aqi4 {
  background-color: #ff0000;
}
.status-aqi5 {
  background-color: #8f3f97;
}
.status-aqi6 {
  background-color: #7e0023;
}
</style>

 
        </div>
      </div>
    </div>
  </body>
</html>